<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <ul>

  <%
  for(var i=0; i<EpicerieList.length; i++) {
  %>

    <li>
    Nom :
    <input type="text" name="Nom" value="<%= EpicerieList[i].Nom %>">
      Rue :
      <input type="text" name="Rue" value= "<%= EpicerieList[i].Rue %>">
        Département :
        <input type="text" name="Département" value="<%= EpicerieList[i].Département %>">
          Téléphone :
          <input type="text" name="Téléphone" value= "<%= EpicerieList[i].Téléphone %>"> <br>
            Horaire semaine :
            <input type="text" name="Lundi" value="<%= EpicerieList[i].Lundi %>">
              <input type="text" name="Mardi" value="<%= EpicerieList[i].Mardi %>">
                <input type="text" name="Mercredi" value="<%= EpicerieList[i].Mercredi %>">
                  <input type="text" name="Jeudi" value="<%= EpicerieList[i].Jeudi %>">
                    <input type="text" name="Vendredi" value="<%= EpicerieList[i].Vendredi %>">
                      <input type="text" name="Samedi" value="<%= EpicerieList[i].Samedi %>">
                        <input type="text" name="Dimanche" value="<%= EpicerieList[i].Dimanche %>">
                        <a href="/supprimer?i=<%=i%>"> <span class="glyphicon glyphicon-trash"></span> </a>
                        </li>
                          <br><br><br>
                            <% } %>
  </ul>

  <form action="/ajouter">
  <input type="text" name="Nom" value="" placeholder="Nom" </pl> <br>
  <input type="text" name="Rue" value="" placeholder="Rue" > <br>
  <input type="text" name="Département" value="" placeholder="Département/Arrondissement"> <br>
  <input type="text" name="Téléphone" value="" placeholder="Téléphone"> <br>
  <input type="text" name="Lundi" value="" placeholder="Horaire Lundi"> <br>
  <input type="text" name="Mardi" value="" placeholder="Horaire Mardi"> <br>
  <input type="text" name="Mercredi" value="" placeholder="Horaire Mercredi"> <br>
  <input type="text" name="Jeudi" value="" placeholder="Horaire Jeudi"> <br>
  <input type="text" name="Vendredi" value="" placeholder="Horaire Vendredi"> <br>
  <input type="text" name="Samedi" value="" placeholder="Horaire Samedi"> <br>
  <input type="text" name="Dimanche" value="" placeholder="Horaire Dimanche"> <br>
  <input type="submit" value="valider">
</form>


</body>
</html>
